@import "../vendor/datatables/media/css/jquery.dataTables.css";

.dataTables_wrapper{
  .dataTables_filter{
    float:left;
    width:100%;
    text-align: left;
    background: #f4f4f4;
    padding: 1em;
    label{
      width: 100%;
      input{
        width: 66%;
      }
    }
  }
}
