@import "../vendor/datatables/media/css/jquery.dataTables.css";
.main .gsc-control-cse {
  background-color: white;
  position: relative;
  padding: 0;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.main .gsc-control-cse .gsc-control-wrapper-cse {
  font-size: 16px;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-webResult .gs-result {
  padding: 1em 0 1em 0;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-webResult .gs-result .gsc-thumbnail-inside {
  padding-left: 0;
  padding-right: 0;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-webResult .gs-result .gs-title {
  height: 1.9em;
  text-decoration: none;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-webResult .gs-result .gs-title a.gs-title {
  color: #263566;
  text-decoration: none;
  border-bottom: solid 1px #ddd;
  font-weight: normal;
  font-size: 1.3em;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-webResult .gs-result .gs-title a.gs-title:hover,
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-webResult .gs-result .gs-title a.gs-title:focus {
  border-bottom: solid 1px #263566;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-webResult .gs-result .gs-title a.gs-title b,
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-webResult .gs-result .gs-title a.gs-title em {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-webResult .gs-result .gsc-table-result {
  font-size: 16px;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-webResult .gs-result .gsc-table-result .gs-snippet {
  color: #333;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-webResult .gs-result .gsc-url-top {
  padding-left: 0;
  padding-right: 0;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-webResult .gs-result .gs-visibleUrl {
  padding: 8px 0;
  font-size: 16px;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-webResult .gs-result .gs-fileFormat {
  display: none;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-webResult .gs-result .gs-per-result-labels {
  display: none;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-webResult .gsc-promotion {
  border: none;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-tabsArea {
  border-color: #CCC;
  font-size: 16px;
  height: auto;
  padding-left: 1em;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-tabsArea > div {
  height: auto;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-tabsArea .gsc-tabHeader {
  font-weight: normal;
  background-color: transparent;
  border: none;
  color: #4a7194;
  padding: 0 1.2em 0 1.2em;
  height: auto;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-tabsArea .gsc-tabHeader.gsc-tabhActive {
  color: #333;
  border-bottom: 3px solid #263566;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-above-wrapper-area {
  border-bottom: none;
  margin-top: 1em;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-above-wrapper-area .gsc-above-wrapper-area-container .gsc-result-info {
  font-weight: bold;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-above-wrapper-area .gsc-above-wrapper-area-container .gsc-orderby .gsc-selected-option-container {
  width: auto !important;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gcsc-branding {
  line-height: 2em;
  display: none;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-cursor-box {
  text-align: center;
  margin-top: 3em;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-cursor-box .gsc-cursor {
  margin: 0 auto;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-cursor-box .gsc-cursor .gsc-cursor-page {
  padding: 0.4em 0.7em;
  margin: 0;
  border: 1px solid #E2E2E2;
  border-right: none;
  color: #263566;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-cursor-box .gsc-cursor .gsc-cursor-page:last-child {
  border-right: 1px solid #E2E2E2;
}
.main .gsc-control-cse .gsc-control-wrapper-cse .gsc-cursor-box .gsc-cursor .gsc-cursor-page.gsc-cursor-current-page {
  color: #999;
}
/*# sourceMappingURL=main.css.map */